# dependencies
/node_modules
frontend/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
frontend/coverage/

# next.js
/.next/
/out/
frontend/.next/
frontend/out/

# production
/build
frontend/build/

# misc
.DS_Store
*.pem

.gemini/
.codex/
.copilot/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env*.local

# local inventory
/config/inventory.json

# typescript
*.tsbuildinfo
next-env.d.ts

# graphify
.graphify/
graphify-out/
.graphify_*.json
.graphify_python
kubernetes-ca.crt

# test files
*.a
*.test
*.out

# go
vendor/
go.work
go.work.sum
