OMNI_VERSION=<version-tag>
KUBERNETES_API_URL=<kubernetes-api-url>
KUBERNETES_BEARER_TOKEN=<omni-reader-token>
NODE_EXTRA_CA_CERTS=/run/secrets/kubernetes-ca.crt
GITLAB_TOKEN=<read-token>
ARGOCD_TOKEN=<api-token>
